<% content_for :page_title,  "Home" %>

<div class="container mt-5">
    <div class="columns is-centered">
        <div class="column is-half">
            <div class="card is-round">
                <div class="card-header">
                    <p class="card-header-title" style="font-size: 26px">Posts</p>
                </div>

                <div class="card-content">
                    <div class="container">
                        <% @posts.each do |post| %>
                        <div class="card mt-4">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4"><%= link_to post.title, post  %></p>
                                    </div>
                                </div>

                                <div class="subtitle" style="font-size: 14px">
                                    <%= post.description %>
                                </div>

                                <div>
                                    <span class="tag is-rounded"><%= post.comments.count %> comments</span>
                                </div>
                            </div>
                        </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>